@font-face{
    font-family: aldo_fuente;
    src:url("aldo/Aldo\ PC.ttf")
}
#icon{
    position: absolute;
    left: 36px;
    right: 37px;
    font-size: 80px;
    color: #0A3871;    
   font-family: aldo_fuente;
   margin-top: 40px;
   margin-left: 30px;
}
#textfor{
    position: absolute; 
   
    text-align: initial;
    margin-top: 150px;
    margin-left: 200px;
     width: 600px;
     height: 400px;
     font-size: 30px;
    border: none;
    color: #0A3871;  

    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    ; 
}
#textfor::placeholder{
    color: #0A3871;
}

.parr{   
    position: absolute;
     margin-top: 600px;
     margin-left: 200px;
    font-size: 10px;
    color: #ffffff;
    height: 10px;
    width: 10px;
    background-color: #495057;
    border-radius: 100%;
    text-align: center;
}
p{
    position: absolute;
     margin-top: 600px;
     margin-left: 220px;
    font-size: 10px;
    color: #495057;
}