@font-face{
    font-family: aldo_fuente;
   src: url("../aldo/Aldo\ PC.ttf")
}
body{
    background-color: #E5E5E5;
}
#icon{
    position: absolute;
    left: 36px;
    right: 37px;
    font-size: 80px;
    color: #0A3871;    
   font-family: aldo_fuente;
   margin-top: 40px;
   margin-left: 30px;
}
#textfor{
    position: absolute; 
   
    text-align: initial;
    margin-top: 150px;
    margin-left: 200px;
     width: 600px;
     height: 400px;
     font-size: 30px;
    border: none;
    color: #0A3871;  

    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    ; 
}
#textfor::placeholder{
    color: #0A3871;
}

.parr{   
    position: absolute;
     margin-top: 600px;
     margin-left: 200px;
    font-size: 10px;
    color: #ffffff;
    height: 10px;
    width: 10px;
    background-color: #495057;
    border-radius: 100%;
    text-align: center;
}
p{
    position: absolute;
     margin-top: 600px;
     margin-left: 220px;
    font-size: 10px;
    color: #495057;
}
#encripting{
    position: absolute;
    margin-top: 620px;
    margin-left: 200px;
    border-radius: 20px;
    border: 1px ;
    background-color: #0A3871;
    height: 50px;
    width: 250px;
    color: #ffffff;
}
#decripting{
    position: absolute;
    margin-top: 620px;
    margin-left: 500px;
    border: 1px solid #0A3871;
    border-radius: 20px;
    background-color: #D8DFE8;
    height: 50px;
    width: 250px;
    
    color: #0A3871;
}
.rightFront{
    position: absolute;
    border-radius: 20px;
    height: 600px;
    width: 300px;
    background-color: #ffffff;
    margin-top: 90px;
    margin-left: 900px;
}
#cartoonima{
    position: absolute;
    height: 300px;
    width:100%;
    margin-top: 30%;
    
}
.titdere{
    position: absolute;
    font-family:"Inter";
   text-align: center;
   color:#343A40 ;
   margin-top: 400px;
}
.padere{
    size: 16px;
    position: absolute;
    margin-top: 480px;
    font-family:"Inter";
    text-align: center;
    color:#495057 ;
    margin-left: 50px;
}
#desencriptext{
    border-radius: 20px;
    margin-top: 90px;
    margin-left: 900px;
    position: absolute;
    height: 600px;
    width: 300px;
    text-align: center;
    background-color: rgba(255, 255,255, 0.1);
    font-size: 20px;
}

#copiar{
    position: absolute;
    margin-top: 620px;
    margin-left: 925px;
    border: none;
    border-radius: 20px;
    background-color:rgba(216, 223, 232, 0.0);
    height: 50px;
    width: 250px;
    
    color:rgba(10, 56, 113, 0.0);
}


@media screen and (max-width:480px){
    body{
        display: grid;
    }

}